@model BookingDtoForCreation
@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = TempData["Message"] as string;
}

@section Carousel {
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url('@Url.Content("~/images/carousel-1.jpg")');">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center pb-5">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Contact</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Booking</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
}

<!-- Booking Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Room Booking</h6>
            <h1 class="mb-5">Book A <span class="text-primary text-uppercase">Luxury Room</span></h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="~/images/about-1.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="~/images/about-2.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="~/images/about-3.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="~/images/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <form method="post">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" asp-for="BookingName" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" asp-for="BookingEmail" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                            <div class="form-floating date" id="date3" data-target-input="nearest">
                                    <input type="datetime-local" class="form-control" asp-for="CheckIn" id="checkin" name="checkIn"
                                       placeholder="Check In"
                                       value="@ViewBag.CheckIn" />
                                <label for="checkin">Check In</label>
                            </div>
                        </div>
                            <div class="col-md-6">
                                <div class="form-floating date" id="date4" data-target-input="nearest">
                                    <input type="datetime-local" class="form-control" asp-for="CheckOut" id="checkout" name="checkOut"
                                           placeholder="Check Out"
                                           value="@ViewBag.CheckOut" />
                                    <label for="checkout">Check Out</label>
                                </div>
                            </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                    <select class="form-select" id="select1" asp-for="Adult">
                                        <option value="1">Adult 1</option>
                                        <option value="2">Adult 2</option>
                                        <option value="3">Adult 3+</option>
                                </select>
                                <label for="select1">Select Adult</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                    <select class="form-select" id="select2" asp-for="Child">
                                        <option value="1">Child 1</option>
                                        <option value="2">Child 2</option>
                                        <option value="3">Child 3+</option>
                                </select>
                                <label for="select2">Select Child</label>
                            </div>
                        </div>

                            <div class="col-12">
                                <div class="form-floating">
                                    <select asp-items="@ViewBag.Rooms" class="form-select" id="select3" asp-for="RoomID">
                                    </select>
                                    <label for="select3">Select A Room</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea asp-for="BookingMessage" class="form-control" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                    <label for="message">Special Request</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->


@section Newsletter {
    @if (ViewData["SubsDto"] is SubscribeDtoForCreation SubsDto)
    {
        @Html.Partial("_Newsletter", SubsDto)
    }
}

@section Scripts {
    @if (!string.IsNullOrEmpty(message))
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@message");
            };
        </script>
    }
}